h3.prices {
    text-align:right;
    padding:10px 20px 10px 20px
}
h3.name {
    text-align:left;
}
#logo-img {
    width: 200px;
    display: block;
    margin: auto;
}
.deli-menu-align {
    font-align:right;
}
body {
    background-color:#b5ddb6;
}
#map {
    width: 100%;
    height: ;
}
.deli-pics1 {
    float:left;
    width:300px;
    height:300px;
}
.deli-pics2 {
    float:right;
    width:300px;
    height:300px;
}