h3.prices {
    text-align:right;
    padding:10px 20px 10px 20px;
}
h3.white {
    background-color:white;
}
h3.name {
    text-align:left;
}
img.picture-uno {
    width:225px;
    height:225px;
}
img.picture-uno-uno {
    width:225px;
    height:225px;
}
img.picture-dos {
    width:225px;
    height:225px;
}
img.picture-dos-dos {
    width:225px;
    height:225px;
}
img.picture-tres {
    width:225px;
    height:225px;
}
img.picture-tres-tres {
    width:225px;
    height:225px;
}
img.picture-cuatro {
    width:225px;
    height:225px;
}
img.picture-cuatro-cuatro {
    width:225px;
    height:225px;
}
img.picture-cinco {
    width:225px;
    height:225px;
}
img.picture-cinco-cinco {
    width:225px;
    height:225px;
}
img.picture-seis {
    width:225px;
    height:225px;
}
img.picture-seis-seis {
    width:225px;
    height:225px;
}
h4.picture-uno {
    margin:0px 0px 900px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-dos {
    margin:0px 0px 900px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-tres {
    margin:0px 0px 900px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-cuatro {
    margin:0px 0px 900px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-cinco {
    margin:0px 0px 900px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-seis {
    margin:0px 0px 900px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-uno-uno {
    margin:0px 0px 600px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-dos-dos {
    margin:0px 0px 600px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-tres-tres {
    margin:0px 0px 600px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-cuatro-cuatro {
    margin:0px 0px 600px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-cinco-cinco {
    margin:0px 0px 600px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h4.picture-seis-seis {
    margin:0px 0px 100px 0px;
    text-align:center;
    border-width:2px;
    border:solid;
}
h3.sizing {
    font-size:px;
}
#logo-img {
    width: 200px;
    display: block;
    margin: auto;
}
body {
    background-color:#b5ddb6;
}
#map {
    width: 100%;
    height: 500px;
}
p {
    text-align: justify;
}
div.footer {
    width: 100%;
    font-size: 15px;
    height: 20vh;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(50, 50, 50);
    color: rgb(125, 125, 125);
}
div.footer p {
    margin: 20px;
    font-size: 10px; 
    text-align: center;
}
.glyphicon {
    font-size: 20px;
    margin: 10px 0px 5px 0px;
}
#aaaa, #bbbb, #cccc {
    display: none;
}
table.deli {
    margin:auto;
    display:block;
    max-width:800px;
}
.print-menu-table {
    width: 100%;
}
.print-menu-table h3 {
    font-size: 10px;
    margin: 2.5px;
}
.btn-group-vertical {
    width: 90%;
    display: block;
    margin: auto;
}
#white {
    background-color: white;
}

                
